<ion-content [fullscreen]="true">
  <div class="contact_container">
    <div class="lateral_izq">
      <div class="img_content">
        <img class="img_contact" src="assets/contact.svg" alt="">
      </div>
      <div class="body_izq">
        <ion-button class="btn_ver" (click)="excecuteAction('ver')">Ver Contactos</ion-button>
        <ion-button class="btn_cre" (click)="excecuteAction('cre')">Crear Contactos</ion-button>
        <ion-button class="btn_mod" (click)="excecuteAction('mod')">Modificar Contactos</ion-button>
        <ion-button class="btn_blo" (click)="excecuteAction('blo')">Bloquear Contectos</ion-button>
      </div>
      <div class="footer">
        <ion-button class="btn_cer">Cerrar Sesion</ion-button>
        <ion-button class="btn_reg">Regresar a Home</ion-button>
      </div>
    </div>
    <div class="lateral_der">
      <div class="der_content" *ngIf="mostrar">
        <div class="ver_content" *ngIf="ver">
          <h2>Lista de Contactos</h2>
            <p *ngIf="!contactos || contactos.length === 0">Contactos no existentes</p>
            <table *ngIf="contactos && contactos.length > 0">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Teléfono</th>
                  <th>Correo</th>
                  <th>Cédula</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let contacto of contactos">
                  <td>{{ contacto.NOMBRE }}</td>
                  <td>{{ contacto.TELEFONO }}</td>
                  <td>{{ contacto.CORREO }}</td>
                  <td>{{ contacto.CEDULA }}</td>
                  <td>{{ contacto.ISVALID === 'Y' ? 'Activo' : 'Bloqueado' }}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="mod_content" *ngIf="mod">
          <h2>Modificar Contactos</h2>
          <p *ngIf="!contactos || contactos.length === 0">No hay contactos disponibles</p>
          <table *ngIf="contactos && contactos.length > 0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Cédula</th>
                <th>Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contacto of contactos">
                <td>{{ contacto.ID }}</td>
                <td>
                  <input *ngIf="contacto.editando" [(ngModel)]="contacto.NOMBRE" type="text"  name="NOMBRE"/>
                  <span *ngIf="!contacto.editando">{{ contacto.NOMBRE }}</span>
                </td>
                <td>
                  <input *ngIf="contacto.editando" [(ngModel)]="contacto.TELEFONO" type="text" name="TELEFONO"/>
                  <span *ngIf="!contacto.editando">{{ contacto.TELEFONO }}</span>
                </td>
                <td>
                  <input *ngIf="contacto.editando" [(ngModel)]="contacto.CORREO" type="text" name="CORREO"/>
                  <span *ngIf="!contacto.editando">{{ contacto.CORREO }}</span>
                </td>
                <td>{{ contacto.CEDULA }}</td>
                <td>
                  <ion-button *ngIf="!contacto.editando" (click)="habilitarEdicion(contacto)">Editar</ion-button>
                  <ion-button *ngIf="contacto.editando" (click)="guardarEdicion(contacto)">Guardar</ion-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="cre_content" *ngIf="cre">
          <h2>Crear Contacto</h2>
      
          <ion-item>
            <ion-label>Nombre</ion-label>
            <input [(ngModel)]="crear_nombre" name="nombre" type="text" required/>
          </ion-item>
      
          <ion-item>
            <ion-label>Teléfono</ion-label>
            <input [(ngModel)]="crear_telefono" name="telefono" type="tel" required />
          </ion-item>
      
          <ion-item>
            <ion-label>Correo</ion-label>
            <input [(ngModel)]="crear_correo" name="correo" type="email" required />
          </ion-item>

          <ion-item>
            <ion-label>Cedula</ion-label>
            <input [(ngModel)]="crear_cedula" name="Cedula" type="Cedula" required />
          </ion-item>
      
          <div class="btn-container">
            <ion-button (click)="crearContacto()">Crear Contacto</ion-button>
          </div>
        </div>
        <div class="blo_content" *ngIf="blo">
          <h2>Bloquear Contactos</h2>
          <p *ngIf="!contactos || contactos.length === 0">Contactos no existentes</p>
          <table *ngIf="contactos && contactos.length > 0">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Cédula</th>
                <th>Estado</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contacto of contactos">
                <td>{{ contacto.NOMBRE }}</td>
                <td>{{ contacto.TELEFONO }}</td>
                <td>{{ contacto.CORREO }}</td>
                <td>{{ contacto.CEDULA }}</td>
                <td>{{ contacto.ISVALID === 'Y' ? 'Activo' : 'Bloqueado' }}</td>
                <td>
                  <ion-select [(ngModel)]="contacto.ISVALID" (ionChange)="updateStatus(contacto)">
                    <ion-select-option value="Y">Desbloquear</ion-select-option>
                    <ion-select-option value="N">Bloquear</ion-select-option>
                  </ion-select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ion-content>
