<ion-content>
  <div class="login-container">
    <form>
      <div class="content_imagen">
        <img src="assets/satelite.svg" alt="Pagina de Contactos-usuarios">
      </div>
      <div class="content_inputs">
        <input type="text" placeholder="Ingrese su correo" [(ngModel)]="correo" name="correo"  />
        <input type="password" placeholder="Ingrese su contraseña" [(ngModel)]="contrasena"  name="contrasena"/>
      </div>
      <div class="links">
        <a href="#">Crear nueva cuenta</a>
        <a href="#">Recordar contraseña</a>
      </div>
    </form>
    <div class="content_button">
      <button (click)="Login()">Iniciar Sesion</button>
    </div>
  </div>

  <div class="modal-overlay" *ngIf="response">
    <div class="modal-container">
      <p>{{ txt_response }}</p>
    </div>
  </div>
</ion-content>