<ion-content [fullscreen]="true" >
  <div class="register_content">
    <form>
      <div class="nombre">
        <span>Nombre</span>
        <input type="text">
      </div>
      <div class="contrasena">
        <span>Contraseña</span>
        <input type="password">
      </div>
      <div class="cedula">
        <span>Cedula (DNI)</span>
        <input type="number">
      </div>
      <div class="contacto">
        <span>Contacto</span>
        <input type="number">
      </div>
    </form>
    <div class="content_button">
      <button>Crear Cuenta</button>
    </div>
  </div>
</ion-content>
